.gift-container{
  display: flex;
  gap: 50px;
}

/* Titles */
.menu-title {
  font-weight: 600;
  font-size: 0.95rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* List style */
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-list li:hover {
  color: #9b9b9b; /* blue hover */
}

.gift-left-section{
  display: flex;
  gap: 40px;
}
/* Right image + text */
.gift-image-box img {
  max-height: 350px;
  object-fit: cover;
}

.gift-image-box h5 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.shop-now-link {
  display: inline-block;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.shop-now-link:hover {
  color: #868787;
  border-color: #000000;
}

/* Responsive tweaks */
@media (max-width: 991px) {
  .gift-image-box {
    margin-top: 2rem;
  }
}
