.jwl-mega-menu-dropdown {
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  position: relative;
  display: flex;
  justify-content: center;
}

.jwl-mega-menu-inner {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: absolute;
  top: 40px;
}

.jwl-menu-title {
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: black;
  font-family: "Figtree", sans-serif;
}

.jwl-menu-title a {
  color: black;
}

.jwl-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jwl-list li {
  margin-bottom: 6px;
}

.jwl-list li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.jwl-list li a:hover {
  color: #8b8989;
}

.jwl-shop-all a {
  font-weight: bold;
  color: #000;
}

.jwl-image-col img {
  height: 220px;
  object-fit: fill;
  border-radius: 6px;
}


.jwl-caption {
  margin-top: 10px;
}

.jwl-caption h6 {
  margin: 0;
  font-size: 14px;
}

.jwl-caption a {
  text-decoration: underline;
  font-weight: bold;
}

.jwl-mega-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.jwl-container {
  display: flex;
  width: 1000px;
  gap: 30px;
  height: 440px;
  overflow-y: auto;
}

.jwl-text-section {
  display: flex;
  gap: 35px;
}

.engagement-megamenu-container {
  display: flex;
}

.engagement-megamenu-text-section {
  display: flex;
  flex: 3;
  gap: 30px;
}

.engagement-image-section {
  flex: 1;
  width: 300px;
  height: 400px;

}

@media (max-width: 1100px) {
  .jwl-container {
    width: 900px;
  }
}